.container{
    color:white;
    overflow-y:hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction:row;
    width: 100%;
}

.headerImageContainer{
    display: flex;
    flex: 1;
    position: relative;
}

.image{
    object-fit: cover;
}

.title{
    display: flex;
    flex: 1;
}

.detail{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    color: gray;
    padding-left: 10px;
    padding-top: 5px;
}

.avatar{
    border-radius: 50px;

}

.postContent {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    gap: 15px;
}

.h2{
    padding-top: 20px;
}

.subheading{
    text-align:center;
}

.links{
    padding-top: 10px;
    text-decoration: underline solid red;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 15px;
}

.link{
    background-color: red;
    width: max-content;
    padding: 20px;
    font-weight: bold;
    margin-top:40px;
    margin-bottom:40px;
}

@media screen and (max-width: 1920px) {
    .imagem {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        min-height: 500px;
        gap:10px;
    }

    .details{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .title{
        width: 1000px;
        align-items: flex-end;
        font-size: 25px;
    }

    .detail{
        padding-bottom: 15%;
    }

    .postContent{
        padding-top: 30px;
        max-width: 1400px;
        padding-left: 100px;
        font-size: 30px;
    }

    .subheading{
        font-size: 25px;
        padding-top: 80px;
        text-align: left;
        padding-left: 650px;
    }

    .links{
        font-size: 25px;
        text-align: left;
        padding-left: 300px;
    }

    .link{
        font-size: 25px;
    }

    .postImageContainer{
        height: 500px;
        width: 900px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .postImage{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

}

@media screen and (max-width: 1600px) {
    .imagem {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        min-height: 500px;
        gap:10px;
    }

    .details{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .title{
        width: 700px;
        align-items: flex-end;
        font-size: 25px;
    }

    .detail{
        padding-bottom: 15%;
    }

    .postContent{
        padding-top: 30px;
        max-width: 1400px;
        padding-left: 100px;
        font-size: 25px;
    }

    .subheading{
        font-size: 25px;
        padding-top: 80px;
        text-align: left;
        padding-left: 650px;
    }

    .links{
        font-size: 25px;
        text-align: left;
        padding-left: 300px;
    }

    .link{
        font-size: 25px;
    }

    .postImageContainer{
        height: 500px;
        width: 900px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .postImage{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

}

@media screen and (max-width: 1536px) {
    .imagem {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        min-height: 500px;
        gap:10px;
    }

    .details{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .title{
        width: 700px;
        align-items: flex-end;
        font-size: 25px;
    }

    .detail{
        padding-bottom: 15%;
    }

    .postContent{
        padding-top: 30px;
        max-width: 1400px;
        padding-left: 100px;
        font-size: 25px;
    }

    .subheading{
        font-size: 25px;
        padding-top: 80px;
        text-align: left;
        padding-left: 650px;
    }

    .links{
        font-size: 25px;
        text-align: left;
        padding-left: 300px;
    }

    .link{
        font-size: 25px;
    }

    .postImageContainer{
        height: 400px;
        width: 700px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .postImage{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

}

@media screen and (max-width: 1336px) {
    .imagem {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        min-height: 400px;
        gap:10px;
    }

    .details{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .title{
        width: 600px;
        align-items: flex-end;
        font-size: 25px;
    }

    .detail{
        padding-bottom: 15%;
    }

    .postContent{
        padding-top: 30px;
        max-width: 1336px;
        padding-left: 100px;
        font-size: 25px;
    }

    .subheading{
        font-size: 25px;
        padding-top: 80px;
        text-align: left;
        padding-left: 480px;
    }

    .links{
        font-size: 25px;
        text-align: left;
        padding-left: 100px;
    }

    .link{
        font-size: 25px;
    }

    .postImageContainer{
        height: 400px;
        width: 700px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .postImage{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

}

@media screen and (max-width: 1280px) {
    .imagem {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        min-height: 400px;
        gap:10px;
    }

    .details{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .title{
        width: 600px;
        align-items: flex-end;
        font-size: 20px;
    }

    .detail{
        padding-bottom: 15%;
    }

    .postContent{
        padding-top: 30px;
        max-width: 1336px;
        padding-left: 100px;
        font-size: 20px;
    }

    .subheading{
        font-size: 20px;
        padding-top: 80px;
        text-align: left;
        padding-left: 400px;
    }

    .links{
        font-size: 20px;
        text-align: left;
        padding-left: 100px;
    }

    .link{
        font-size: 20px;
    }

    .postImageContainer{
        height: 350px;
        width: 600px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .postImage{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

}

@media screen and (max-width: 1024px) {
    .imagem {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        min-height: 400px;
        gap:10px;
        
    }

    .details{
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }

    .title{
        width: 400px;
        align-items: flex-end;
        font-size: 18px;
    }

    .detail{
        padding-bottom: 15%;
    }

    .postContent{
        padding-top: 30px;
        max-width: 1336px;
        padding-left: 100px;
        font-size: 18px;
    }

    .subheading{
        font-size: 18px;
        padding-top: 80px;
        text-align: left;
        padding-left: 400px;
    }

    .links{
        font-size: 18px;
        text-align: left;
        padding-left: 100px;
    }

    .link{
        font-size: 18px;
    }

    .postImageContainer{
        height: 320px;
        width: 550px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .postImage{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

}

@media screen and (max-width: 950px) {
    .imagem {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        min-height: 250px;
        gap:10px;
        
    }

    .details{
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .title{
        width: 300px;
        align-items: flex-end;
        font-size: 15px;
    }

    .detail{
        padding-bottom: 15%;
    }

    .postContent{
        padding-top: 30px;
        max-width: 1336px;
        padding-left: 100px;
        font-size: 18px;
    }

    .subheading{
        font-size: 18px;
        padding-top: 80px;
        text-align: left;
        padding-left: 300px;
    }

    .links{
        font-size: 18px;
        text-align: left;
        padding-left: 100px;
    }

    .link{
        font-size: 15px;
    }

    .postImageContainer{
        height: 320px;
        width: 550px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .postImage{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

}

@media screen and (max-width: 768px) {
    .imagem {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        min-height: 200px;
        gap:10px;
        
    }

    .details{
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .title{
        width: 300px;
        align-items: flex-end;
        font-size: 15px;
    }

    .detail{
        padding-bottom: 15%;
    }

    .postContent{
        padding-top: 30px;
        max-width: 1336px;
        padding-left: 100px;
        font-size: 18px;
    }

    .subheading{
        font-size: 18px;
        padding-top: 80px;
        text-align: left;
        padding-left: 300px;
    }

    .links{
        font-size: 18px;
        text-align: left;
        padding-left: 100px;
    }

    .link{
        font-size: 15px;
    }

    .postImageContainer{
        height: 320px;
        width: 550px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .postImage{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

}

@media screen and (max-width: 640px) {

    .postImage{
        display: none;
    }

    .postImageContainer{
        display: none;
    }

.imagem {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
}

.image {
    display: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    display: flex;
    flex-direction:column;
    width: 100%;
    min-height: 300px;
}

.headerImageContainer{
    display: none;
}

.links{
    padding-left:0;
}

.subheading{
    padding-left:0;
    text-align: center;
}

.detail{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

.text{
    display: flex;
    flex-direction: column;
}

.postContent {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
}
}

@media screen and (max-width: 375px) {

    .postImage{
        display: none;
    }

    .postImageContainer{
        display: none;
    }

.imagem {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
}

.image {
    display: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    display: flex;
    flex-direction:column;
    width: 100%;
    min-height: 300px;
}

.headerImageContainer{
    display: none;
}

.links{
    padding-left:0;
}

.subheading{
    padding-left:0;
    text-align: center;
}

.detail{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

.text{
    display: flex;
    flex-direction: column;
}

.postContent {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
}
}